<% if notice %>
	<p id="notice"><%= notice %></p>
<% end %>

<table class="table table-striped">
<% @cart.line_items.each do |item| %>
	<tr>
		<td>
			<%= item.quantity %> &times; <%= item.product.title %>
		</td>
		<td>
			<%= button_to '+', add_item_path(product_id: item.product), class: "btn btn-info btn-block" %>
		</td>
		<td>
			<%= button_to '-', delete_item_path(product_id: item.product), class: "btn btn-info btn-block" %>
		</td>
		<td>
			<%= button_to 'удалить', item, method: :delete, class: "btn btn-info btn-block" %>
		</td>
		<td>
			<%= number_to_currency(item.total_price) %>
		</td>
	</tr>
<% end %>
</table>

<h3>Скидка: <%= number_to_currency(@cart.amount_of_discount) %></h3>

<h3>Общая сумма заказа: <%= number_to_currency(@cart.total_price) %></h3>

 <%= button_to 'Empty cart', @cart, method: :delete,
confirm: 'Are you sure?', class: "btn btn-success" %>